---
permalink: /ads.txt
eleventyExcludeFromCollections: true
---
# TODO: Replace the publisher placeholder with the approved AdSense publisher ID before enabling ads.
google.com, pub-XXXXXXXXXXXXXXXX, DIRECT, f08c47fec0942fa0
