---
permalink: /atom.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>{{ site.title | xmlEscape | safe }}</title>
  <subtitle>{{ site.description | xmlEscape | safe }}</subtitle>
  <id>{{ site.url }}/atom.xml</id>
  <link href="{{ site.url }}/atom.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ site.url }}/" rel="alternate" type="text/html"/>
  <updated>{{ ((collections.articles | latestModified) or site.updated) | isoDate }}</updated>
  <author><name>{{ site.defaultAuthor | xmlEscape | safe }}</name><uri>{{ site.url }}/about/</uri></author>
  {% for item in collections.articles | limit(50) %}<entry>
    <title>{{ item.data.title | xmlEscape | safe }}</title>
    <id>{{ item.url | absoluteUrl(site.url) }}</id>
    <link href="{{ item.url | absoluteUrl(site.url) }}" rel="alternate" type="text/html"/>
    <published>{{ item.date | isoDate }}</published>
    <updated>{{ (item.data.updated or item.date) | isoDate }}</updated>
    <author><name>{{ item.data.author | xmlEscape | safe }}</name>{% if item.data.authorUrl %}<uri>{{ item.data.authorUrl | absoluteUrl(site.url) }}</uri>{% else %}<uri>{{ site.url }}/about/</uri>{% endif %}</author>
    <summary type="text">{{ item.data.description | xmlEscape | safe }}</summary>
    <category term="{{ item.data.category | xmlEscape | safe }}"/>
  </entry>{% endfor %}
</feed>
