---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/</link>
    <description>{{ site.description | xmlEscape }}</description>
    <language>en-us</language>
    <atom:link href="{{ site.url }}/rss.xml" rel="self" type="application/rss+xml"/>
    {%- if collections.articles.length %}
    <lastBuildDate>{{ collections.articles[0].date | rfc822 }}</lastBuildDate>
    {%- endif %}
    <image>
      <url>{{ site.url }}/images/brand/apple-touch-icon.png</url>
      <title>{{ site.title }}</title>
      <link>{{ site.url }}/</link>
    </image>
    {%- for item in collections.articles | limit(50) %}
    {%- set link = item.url | absoluteUrl(site.url) %}
    <item>
      <title>{{ item.data.title | xmlEscape }}</title>
      <link>{{ link }}</link>
      <guid isPermaLink="true">{{ link }}</guid>
      <pubDate>{{ item.date | rfc822 }}</pubDate>
      <category>{{ item.data.category | xmlEscape }}</category>
      <description>{{ item.data.description | xmlEscape }}</description>
      <media:content url="{{ item.data.hero | absoluteUrl(site.url) }}" medium="image"/>
      <content:encoded><![CDATA[<p><img src="{{ item.data.hero | absoluteUrl(site.url) }}" alt="{{ item.data.heroAlt }}"></p>{{ item.content | safe }}]]></content:encoded>
    </item>
    {%- endfor %}
  </channel>
</rss>
