---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc>{% if collections.articles.length %}<lastmod>{{ collections.articles[0].date | shortDate }}</lastmod>{% endif %}</url>
  <url><loc>{{ site.url }}/about/</loc></url>
  {% set totalPages = (collections.articles.length / 10) | round(0, "ceil") %}
  {% for number in range(2, totalPages + 1) %}<url><loc>{{ site.url }}/page/{{ number }}/</loc></url>{% endfor %}
  {%- for cat in collections.categories %}
  <url><loc>{{ site.url }}/category/{{ cat.slug }}/</loc><lastmod>{{ cat.articles[0].date | shortDate }}</lastmod></url>
  {%- endfor %}
  {%- for person in collections.authors %}
  <url><loc>{{ site.url }}/authors/{{ person.slug }}/</loc><lastmod>{{ person.articles[0].date | shortDate }}</lastmod></url>
  {%- endfor %}
  {%- for item in collections.articles %}
  <url><loc>{{ item.url | absoluteUrl(site.url) }}</loc><lastmod>{{ (item.data.updated or item.date) | shortDate }}</lastmod></url>
  {%- endfor %}
</urlset>
